<div class="row">
  <div class="col-lg-4" id="edit_todo_form">
    <form method="post" action="/edit/<%= todo[:id] %>">
      <ul>
        <li>
          <label for="body">What would you like to change your to do to?</label>
          <input type="text" name="body" id="body" value="<%= todo["body"] %>"class="form-control"/>
        </li>
        <li>
          <input type="submit" value="Edit ToDo" class="btn btn-success"/>
        </li>
      </ul>
    </form>
  </div>
</div>